.git
.github
.azure
.devcontainer
.venv
.vscode
**/node_modules
**/dist
**/.env
**/.env.*
!**/.env.example
*.md
documents/
infra/
infra_basic/
src/
tests/
chat-app/backend/
scenario-app/backend/
data/
